.base {
  color: #900;
  font-weight: 'bold';
  font-size: 20px;
  font-family: 'Comic Sans MS';
  padding-left: 20px;
  margin: 25vh 0;

  p {
    padding-left: 40px;
  }
}

.link {
  color: #900 !important;
  text-decoration: underline !important;
}

.character {
  background-position: top right;
  background-repeat: no-repeat;
  max-width: 175px;
  padding-top: 20px;
}

.image {
  max-width: 100px !important;
  margin-left: 20px;
  animation-name: rocking;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes rocking {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
